body {
    margin: 0;
    padding: 0;
}

#cars {
    font-family: "Oxygen", sans-serif;
    background-color: transparent;
    color: rgba(0, 0, 0, 1);
    border: none;
    font-size: 16px;
    line-height: 100%;
}

.navbar {
    position: sticky;
    top: 0;
    z-index: 999;
    background-color: transparent;
    backdrop-filter: blur(6px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 30px;
    background-color: rgba(255, 255, 255, 1);
    color: rgba(0, 0, 0, 1);
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 30px;
    align-items: center;
}

.nav-links li a {
    font-family: "Oxygen", sans-serif;
    color: rgba(0, 0, 0, 1);
    text-decoration: none;
    font-size: 16px;
    line-height: 100%;
    display: flex;
    align-items: center;
    gap: 5px;
}

.menu-toggle {
    display: none;
    font-size: 24px;
    color: black;
    cursor: pointer;
}

#mobile-dropdown {
    border: none;
    font-family: "Oxygen", sans-serif;
    color: rgba(0, 0, 0, 1);
    text-decoration: none;
    font-size: 16px;
    line-height: 100%;
}

.desktop-only {
    display: flex;
}

.mobile-only {
    display: none;
}

.custom-dropdown {
    position: relative;
}

.custom-dropdown a {
    cursor: pointer;
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background: rgba(0, 0, 0, 0.9);
    padding: 10px 0;
    border-radius: 4px;
    min-width: 150px;
    z-index: 999;
    flex-direction: column;
    list-style: none;
}

.dropdown-menu li a:hover {
    color: rgba(115, 40, 126, 1);
}

.dropdown-menu li {
    padding: 8px 20px;
}

.dropdown-menu li a {
    color: white;
    text-decoration: none;
}

.custom-dropdown:hover .dropdown-menu {
    display: flex;
}



.header-icons {
    position: relative;
    display: flex;
    gap: 20px;
    align-items: center;
}

.profile-wrapper {
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 7px;
}

.profile-dropdown {
    position: absolute;
    top: 30px;
    right: 0;
    background: white;
    color: black;
    padding: 10px;
    border-radius: 6px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    display: none;
    min-width: 150px;
    z-index: 999;
}

.profile-dropdown ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.profile-dropdown ul li {
    padding: 8px 12px;
    transition: background 0.2s;
}

.profile-dropdown ul li:hover {
    background: #f0f0f0;
}

.profile-dropdown ul li a {
    text-decoration: none;
    color: black;
    display: block;
}

@media (max-width: 768px) {
    .desktop-only {
        display: none;
    }

    .mobile-only {
        display: block;
    }

    .nav-links {
        position: absolute;
        top: 35px;
        right: 0;
        background-color: white;
        width: 95%;
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
        padding: 20px;
        display: none;
    }

    .nav-links.active {
        display: flex;
    }

    .menu-toggle {
        display: block;
    }

    .icons {
        display: none;
    }
}

.icons {
    display: flex;
    gap: 25px;
    align-items: center;
}

.user,
.cart {
    display: flex;
    align-items: center;
    gap: 5px;
}

.user i,
.cart i {
    font-size: 16px;
    color: white;
}

.blog-post {
    margin: auto;
    padding: 3%;
}

.blog-image {
    width: 100%;
}

.blog-image a {
    text-decoration: none;
}

.blog-image img {
    width: 100%;
    border-radius: 16px;
    margin-bottom: 24px;
}

.blog-post h1 {
    font-family: "Oxygen", sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 100%;
    margin-bottom: 12px;
    color: rgba(61, 61, 61, 1);
}

.author-info {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    font-family: "Oxygen", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 160%;
}

.author-avatar {
    width: 32px;
    height: 32px;
    background-color: rgba(166, 166, 166, 1);
    border-radius: 50%;
    margin-right: 12px;
}

.author-details {
    font-size: 14px;
    color: #666;
}

.blog-post p {
    font-family: "Exo", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 160%;
    color: rgba(102, 102, 102, 1);
}

.set-tag {
    font-family: "Exo", sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 100%;

}

.set-margin {
    margin-top: 5%;
}

.two-column-section {
    margin: auto;
    padding: 3%;
}

.columns {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}

.box img {
    width: 100%;
}

.description p {
    font-family: "Exo", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 160%;
    color: rgba(102, 102, 102, 1);
}

.post-grid-space {
    padding: 3%;
}

.post-grid-space h2 {
    font-family: "Exo", sans-serif;
    font-weight: 500;
    font-size: 36px;
    line-height: 100%;
    color: rgba(61, 61, 61, 1);
}

.post-grid {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.post {
    width: calc(33.333% - 13.3px);
}

.post a {
    text-decoration: none;
}

.post-image.small img {
    width: 100%;
}

.post-image.small {
    width: 100%;
    border-radius: 12px;
    margin-bottom: 10px;
}

.post h4 {
    font-family: "Oxygen", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 31px;
    margin-top: 5px;
    color: rgba(64, 64, 64, 1);
}

.post-grid-space {
    padding: 3%;
}

.author-date {
    font-family: "Oxygen", sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 160%;
    display: flex;
    align-items: center;
    gap: 5px;
    color: #555;
    margin-top: 10px;
}

.brand-logos {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 3%;
    background-color: rgba(102, 102, 102, 1);
    gap: 20px;
}

.footer {
    background-color: rgba(61, 61, 61, 1);
    color: white;
    padding: 5% 0 2% 0;
    text-align: center;
}

.newsletter {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.newsletter h2 {
    font-family: "Oxygen", sans-serif;
    font-size: 40px;
    font-weight: 400;
    margin-bottom: 20px;
    line-height: 100%;
    width: 65%;
}

.newsletter-form {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0;
    margin: 0 auto 30px;
    background-color: #3c3c3c;
    border-radius: 30px;
    overflow: hidden;
    border: 0.86px solid rgba(255, 255, 255, 0.6);
    padding: 5px;
}

.newsletter-form input {
    padding: 12px 20px;
    border: none;
    outline: none;
    width: 80%;
    background: transparent;
    color: white;
}

.newsletter-form input::placeholder {
    color: rgba(206, 204, 204, 1);
}

.newsletter-form button {
    background-color: transparent;
    cursor: pointer;
    border: none;
}

.footer-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: left;
    margin-bottom: 3%;
}

.column h4 {
    font-family: "Oxygen", sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: rgba(154, 154, 154, 1);
    margin-bottom: 10px;
}

.column ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.column ul li {
    font-family: "Oxygen", sans-serif;
    font-weight: 400;
    line-height: 100%;
    margin-bottom: 10px;
    font-size: 18px;
    color: #eee;
}

.copyright {
    border-top: 1px solid rgba(221, 221, 221, 1);
    padding-top: 20px;
    font-family: "Oxygen", sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
}

@media (max-width:768px) {
    .blog-post h1 {
        font-size: 23px;
    }

    .blog-post p {
        font-size: 15px;
    }

    .description p {
        font-size: 15px;
    }

    .post-grid {
        flex-direction: column;
        align-items: center;
    }

    .post {
        width: 100%;
    }

    .newsletter h2 {
        width: 100%;
    }

    .brand-logos {
        flex-direction: column;
        align-items: center;
    }

    .footer-links {
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width:480px) {
    .blog-post h1 {
        font-size: 21px;
    }

    .newsletter h2 {
        font-size: 24px;
    }
}