body {
    margin: 0;
    padding: 0;
}

#cars {
    font-family: "Oxygen", sans-serif;
    background-color: transparent;
    color: rgba(0, 0, 0, 1);
    border: none;
    font-size: 16px;
    line-height: 100%;
}

.navbar {
    position: sticky;
    top: 0;
    z-index: 999;
    background-color: transparent;
    backdrop-filter: blur(6px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 30px;
    background-color: rgba(255, 255, 255, 1);
    color: rgba(0, 0, 0, 1);
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 30px;
    align-items: center;
}

.nav-links li a {
    font-family: "Oxygen", sans-serif;
    color: rgba(0, 0, 0, 1);
    text-decoration: none;
    font-size: 16px;
    line-height: 100%;
    display: flex;
    align-items: center;
    gap: 5px;
}

.menu-toggle {
    display: none;
    font-size: 24px;
    color: black;
    cursor: pointer;
}

#mobile-dropdown {
    border: none;
    font-family: "Oxygen", sans-serif;
    color: rgba(0, 0, 0, 1);
    text-decoration: none;
    font-size: 16px;
    line-height: 100%;
}




.desktop-only {
    display: flex;
}

.mobile-only {
    display: none;
}

.custom-dropdown {
    position: relative;
}

.custom-dropdown a {
    cursor: pointer;
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background: rgba(0, 0, 0, 0.9);
    padding: 10px 0;
    border-radius: 4px;
    min-width: 150px;
    z-index: 999;
    flex-direction: column;
    list-style: none;
}

.dropdown-menu li a:hover {
    color: rgba(115, 40, 126, 1);
}

.dropdown-menu li {
    padding: 8px 20px;
}

.dropdown-menu li a {
    color: white;
    text-decoration: none;
}

.custom-dropdown:hover .dropdown-menu {
    display: flex;
}

@media (max-width: 768px) {
    .desktop-only {
        display: none;
    }

    .mobile-only {
        display: block;
    }

    .nav-links {
        position: absolute;
        top: 35px;
        right: 0;
        background-color: white;
        width: 95%;
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
        padding: 20px;
        display: none;
    }

    .nav-links.active {
        display: flex;
    }

    .menu-toggle {
        display: block;
    }

    .icons {
        display: none;
    }
}


.header-icons {
    position: relative;
    display: flex;
    gap: 20px;
    align-items: center;
}

.profile-wrapper {
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 7px;
}

.profile-dropdown {
    position: absolute;
    top: 30px;
    right: 0;
    background: white;
    color: black;
    padding: 10px;
    border-radius: 6px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    display: none;
    min-width: 150px;
    z-index: 999;
}

.profile-dropdown ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.profile-dropdown ul li {
    padding: 8px 12px;
    transition: background 0.2s;
}

.profile-dropdown ul li:hover {
    background: #f0f0f0;
}

.profile-dropdown ul li a {
    text-decoration: none;
    color: black;
    display: block;
}

.icons {
    display: flex;
    gap: 25px;
    align-items: center;
}

.user,
.cart {
    display: flex;
    align-items: center;
    gap: 5px;
}

.user i,
.cart i {
    font-size: 16px;
    color: white;
}

.cart-container {
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: flex-start;
    padding: 3%;
}

.cart-table {
    background: #fff;
    width: 65%;
    border-radius: 8px;
    border: 1px solid rgba(222, 223, 225, 1);
}

.cart-header {
    background-color: rgba(166, 166, 166, 1);
    color: white;
    display: grid;
    grid-template-columns: 50% 15% 20% 15%;
    align-items: center;
    padding: 3%;
}

.cart-item {
    display: grid;
    grid-template-columns: 50% 15% 20% 15%;
    align-items: center;
    padding: 3%;
    border-bottom: 1px solid #eee;
}

.product-info span {
    color: rgba(61, 61, 61, 1);
    font-family: "Oxygen", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
}

.prize {
    font-family: "Oxygen", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    color: rgba(148, 148, 148, 1);
}

.cart-item .product-info {
    display: flex;
    align-items: center;
    gap: 10px;
}

.cart-item img {
    width: 40px;
    height: 40px;
    background: #ccc;
    border-radius: 4px;
}

.remove {
    color: #888;
    cursor: pointer;
    font-size: 20px;
    margin-right: 10px;
}

.qty {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    border: 1px solid #ccc;
    width: 85%;
    height: 35px;
    border-radius: 20px;
}

.qty button {
    border: none;
    background: #fff;
    font-size: 16px;
    cursor: pointer;
}

.cart-summary {
    background: #fff;
    width: 50%;
    border-radius: 8px;
    border: 1px solid rgba(222, 223, 225, 1);
}

.cart-summary h3 {
    font-family: "Oxygen", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 100%;
    background: rgba(166, 166, 166, 1);
    color: rgba(255, 255, 255, 1);
    margin: 0px;
    padding: 4%;
    border-radius: 8px 8px 0 0;
}

.summary-row span {
    font-family: "Oxygen", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
}

.chanze-clor {
    color: rgba(148, 148, 148, 1);
}

.summary-row {
    display: flex;
    justify-content: space-between;
    padding: 3%;
    border-bottom: 1px solid #eee;
}

.summary-row.total {
    font-weight: bold;
    border: none;
}

.checkout-btn {
    width: 100%;
    padding: 3% 0;
    background: #111;
    color: white;
    border: none;
    border-radius: 0px 0px 5px 5px;
    cursor: pointer;
    font-family: "Exo", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
}

.checkout-btn a {
    text-decoration: none;
    color: white;
    font-family: "Exo", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
}

#product-section-id {
    margin-bottom: 3%;
    padding: 5%;
}

.product-list {
    display: flex;
    gap: 24px;
    justify-content: space-between;
}

.product-item {
    width: 30%;
    position: relative;
}

.product-thumb img {
    width: 100%;
}

.product-title {
    font-family: "Oxygen", sans-serif;
    font-weight: 400;
    font-size: 22px;
    color: rgba(64, 64, 64, 1);
    margin: 8px 0 4px;
    line-height: 100%;
}

.product-price-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 13px;
}

.price-old {
    font-family: "Oxygen", sans-serif;
    color: rgba(64, 64, 64, 1);
    font-size: 14px;
    font-weight: 400;
    line-height: 100%;
    text-decoration: line-through;
}

.price-new {
    font-family: "Oxygen", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 100%;
    color: rgba(0, 0, 0, 1);
}

.price-action {
    cursor: pointer;
}

.Similar-product-list {
    font-family: "Oxygen", sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 100%;
    color: rgba(61, 61, 61, 1);
}

.brand-logos {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 3%;
    background-color: rgba(102, 102, 102, 1);
    gap: 20px;
}

.footer {
    background-color: rgba(61, 61, 61, 1);
    color: white;
    padding: 5% 0 2% 0;
    text-align: center;
}

.newsletter {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.newsletter h2 {
    font-family: "Oxygen", sans-serif;
    font-size: 40px;
    font-weight: 400;
    margin-bottom: 20px;
    line-height: 100%;
    width: 65%;
}

.newsletter-form {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0;
    margin: 0 auto 30px;
    background-color: #3c3c3c;
    border-radius: 30px;
    overflow: hidden;
    border: 0.86px solid rgba(255, 255, 255, 0.6);
    padding: 5px;
}

.newsletter-form input {
    padding: 12px 20px;
    border: none;
    outline: none;
    width: 80%;
    background: transparent;
    color: white;
}

.newsletter-form input::placeholder {
    color: rgba(206, 204, 204, 1);
}

.newsletter-form button {
    background-color: transparent;
    cursor: pointer;
    border: none;
}

.footer-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: left;
    margin-bottom: 3%;
}

.column h4 {
    font-family: "Oxygen", sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: rgba(154, 154, 154, 1);
    margin-bottom: 10px;
}

.column ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.column ul li {
    font-family: "Oxygen", sans-serif;
    font-weight: 400;
    line-height: 100%;
    margin-bottom: 10px;
    font-size: 18px;
    color: #eee;
}

.copyright {
    border-top: 1px solid rgba(221, 221, 221, 1);
    padding-top: 20px;
    font-family: "Oxygen", sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
}

.dropdown {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    margin-bottom: 12px;
}

.dropbtn {
    background: transparent;
    font-size: 16px;
    border: none;
    cursor: pointer;
    padding: 0%;
    font-family: "Oxygen", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 171%;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

@media (max-width:768px) {
    .cart-item {
        overflow-x: auto;
        width: 100%;
    }

    .cart-container {
        flex-direction: column;
        align-items: center;
    }

    .cart-item {
        padding: 3% 0;
    }

    .cart-table {
        width: 100%;
    }

    .cart-summary {
        width: 100%;
    }

    .product-list {
        flex-direction: column;
        align-items: center;
    }

    .product-item {
        width: 70%;
    }

    .brand-logos {
        flex-direction: column;
        align-items: center;
    }

    .newsletter h2 {
        font-size: 36px;
        width: 100%;
    }

    .footer-links {
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width:480px) {
    .product-item {
        width: 100%;
    }

    .qty {
        width: 100%;
    }

    .newsletter h2 {
        font-size: 24px;
    }
}